In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
#inshort
inshort_df = pd.read_excel('/content/gdrive/MyDrive/Data (1)/Inshorts Cleaned Data.xlsx')

In [ ]:
print(inshort_df.head())

                                            Headline  \
0  4 ex-bank officials booked for cheating bank o...
1     Supreme Court to go paperless in 6 months: CJI
2  At least 3 killed, 30 injured in blast in Sylh...
3  Why has Reliance been barred from trading in f...
4  Was stopped from entering my own studio at Tim...

                                               Short                 Source   \
0  The CBI on Saturday booked four former officia...  The New Indian Express
1  Chief Justice JS Khehar has said the Supreme C...                 Outlook
2  At least three people were killed, including a...         Hindustan Times
3  Mukesh Ambani-led Reliance Industries (RIL) wa...                Livemint
4  TV news anchor Arnab Goswami has said he was t...                 YouTube

      Time  Publish Date
0  09:25:00   2017-03-26
1  22:18:00   2017-03-25
2  23:39:00   2017-03-25
3  23:08:00   2017-03-25
4  23:24:00   2017-03-25

In [ ]:
inshort_df.isna().sum()

Headline        0
Short           0
Source          0
Time            0
Publish Date    0
dtype: int64

In [ ]:
inshort_df.drop_duplicates(subset=['Short'],inplace=True,ignore_index=True)

In [ ]:
#BBC
bbc_df = pd.read_csv('/content/gdrive/MyDrive/Data (1)/bbc_text_cls.csv',encoding='utf-8')

In [ ]:
print(bbc_df.head())

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [ ]:
bbc_df.isna().sum()

text      0
labels    0
dtype: int64

In [ ]:
bbc_df.drop_duplicates(subset=['text'],inplace=True,ignore_index=True)

In [ ]:
#News
news_df = pd.read_csv('/content/gdrive/MyDrive/Data (1)/data.csv')

In [ ]:
print(news_df.head())

   Unnamed: 0                                        ID  \
0           0  f49ee725a0360aa6881ed1f7999cc531885dd06a
1           1  808fe317a53fbd3130c9b7563341a7eea6d15e94
2           2  98fd67bd343e58bc4e275bbb5a4ea454ec827c0d
3           3  e12b5bd7056287049d9ec98e41dbb287bd19a981
4           4  b83e8bcfcd51419849160e789b6658b21a9aedcd

                                             Content  \
0  New York police are concerned drones could bec...
1  By . Ryan Lipman . Perhaps Australian porn sta...
2  This was, Sergio Garcia conceded, much like be...
3  An Ebola outbreak that began in Guinea four mo...
4  By . Associated Press and Daily Mail Reporter ...

                                             Summary         Dataset
0  Police have investigated criminals who have ri...  CNN/Daily Mail
1  Porn star Angela White secretly filmed sex act...  CNN/Daily Mail
2  American draws inspiration from fellow country...  CNN/Daily Mail
3  World Health Organisation: 635 infections and ...  CNN/Daily Mail
4  A sinkhole opened up at 5:15am this morning in...  CNN/Daily Mail

In [ ]:
news_df['Content'].isna().sum()

34

In [ ]:
news_df.dropna(subset=['Content'],inplace=True)

In [ ]:
news_df.drop_duplicates(subset=['Content'],inplace=True,ignore_index=True)

In [ ]:
#cnn
cnn_train_df = pd.read_csv('/content/gdrive/MyDrive/Data (1)/cnn_dailymail/train.csv')
cnn_test_df = pd.read_csv('/content/gdrive/MyDrive/Data (1)/cnn_dailymail/test.csv')
cnn_validation_df = pd.read_csv('/content/gdrive/MyDrive/Data (1)/cnn_dailymail/validation.csv')

In [ ]:
cnn_train_df.head()

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

In [ ]:
print(cnn_train_df.isna().sum())
print(cnn_test_df.isna().sum())
print(cnn_validation_df.isna().sum())

id            0
article       0
highlights    0
dtype: int64
id            0
article       0
highlights    0
dtype: int64
id            0
article       0
highlights    0
dtype: int64

In [ ]:
cnn_df = pd.concat([cnn_train_df,cnn_validation_df,cnn_test_df], ignore_index=True)

In [ ]:
cnn_df.drop_duplicates(subset=['article'],inplace=True,ignore_index=True)

In [ ]:
cnn_df.head()

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,Ralph Mata was an internal affairs lieutenant ...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,With a breezy sweep of his pen President Vladi...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

In [ ]:
cnn_df['article'] = cnn_df['article'].str.replace(r'\(CNN\) -- ', '', regex=True)

In [ ]:
import re
# Define the updated regex pattern
pattern = r'By\s*\.\s*Associated\s*Press\s*\.\s*PUBLISHED:\s*\.\s*\d{2}:\d{2}\s*EST,\s*\d{1,2}\s*\w+\s*\d{4}\s*\.\s*\|\s*\.\s*UPDATED:\s*\.\s*\d{2}:\d{2}\s*EST,\s*\d{1,2}\s*\w+\s*\d{4}\s*\.'

# Remove the matching pattern from the 'text' column
cnn_df['article'] = cnn_df['article'].apply(lambda x: re.sub(pattern, '', x))

In [ ]:
cnn_df['article']

0          The bishop of the Fargo Catholic Diocese in N...
1         Ralph Mata was an internal affairs lieutenant ...
2         A drunk driver who killed a young woman in a h...
3         With a breezy sweep of his pen President Vladi...
4         Fleetwood are the only team still to have a 10...
                                ...
308855    Our young Earth may have collided with a body ...
308856    A man facing trial for helping his former love...
308857    A dozen or more metal implements are arranged ...
308858    Brook Lopez dominated twin brother Robin with ...
308859    A Chinese hospital is being painstakingly move...
Name: article, Length: 308860, dtype: object

In [ ]:
# Concatenate specific columns and create a new DataFrame with 'Article' column
final_df = pd.concat(
    [
        inshort_df['Short'],
        bbc_df['text'],
        news_df['Content'],
        cnn_df['article']
    ],
    ignore_index=True
).to_frame(name='Article')  # Convert to DataFrame and set the column name

# Display the final DataFrame
print(final_df)

                                                  Article
0       The CBI on Saturday booked four former officia...
1       Chief Justice JS Khehar has said the Supreme C...
2       At least three people were killed, including a...
3       Mukesh Ambani-led Reliance Industries (RIL) wa...
4       TV news anchor Arnab Goswami has said he was t...
...                                                   ...
946197  Our young Earth may have collided with a body ...
946198  A man facing trial for helping his former love...
946199  A dozen or more metal implements are arranged ...
946200  Brook Lopez dominated twin brother Robin with ...
946201  A Chinese hospital is being painstakingly move...

[946202 rows x 1 columns]

In [ ]:
final_df['Article'] = final_df['Article'].str.strip()

In [ ]:
final_df.to_csv('/content/gdrive/MyDrive/Data (1)/New_articles_combined.csv',)